<div class="panel panel-default">
  <div class="panel-heading">
    <a href="https://forums.darklordpotter.net/showthread.php?t={{item.meta.threadData.threadId}}"
       class="pull-right" ng-if="item.meta.threadData">
      DLP {{item.meta.threadData.votenum/item.meta.threadData.votetotal|number:2}} <i class="fa fa-star"></i></a>
    <h3 class="panel-title">
      <a
              target="_blank"
              href="https://www.fanfiction.net{{item.url}}"
              ng-mousedown="trackNavigate('story', item.title)">{{item.title}}</a>
      by
      <a
              target="_blank"
              href="https://www.fanfiction.net{{item.authorUrl}}"
              ng-mousedown="trackNavigate('author', item.author)">{{item.author}}</a></h3>
  </div>
  <div class="panel-body">
    {{item.summary}}
  </div>
  <div class="panel-footer">
    <span class="pull-right text-muted"
          title="Updated: {{item.updated | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}"
          am-time-ago="item.updated"></span>
    <strong title="Published: {{item.published | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a'}}">
      {{item.meta.status}}
    </strong>
    - {{item.meta.rated}}
    - {{extract_names(item.meta.categories).join('/')}}
    - {{extract_names(item.meta.characters).join(', ')}}
    - {{item.meta.words|number}} words
    - {{item.meta.chapters|number}} chapters
    - {{item.meta.reviews|number}} reviews
    <span class="text-muted">
      - {{item.meta.favs|number}} favorites
      - {{item.meta.follows|number}} follows
    </span>
  </div>
</div>
