.page-header.borderless
  %h1 About
  %p.lead Scryer is an advanced fanfiction search engine supported by DLP and written by the DLP open-source community.
  It is a collaborative work to make fiction accessible.
  %p
  %p.text-center
    %iframe{:src => 'http://ghbtns.com/github-btn.html?user=projectdlp&repo=Scryer&type=watch&count=true&size=large',
    :allowtransparency => 'true', :frameborder => 0, :scrolling => 0, :width => 130, :height => 50}
    %iframe{:src => 'http://ghbtns.com/github-btn.html?user=projectdlp&repo=Scryer&type=follow&count=true&size=large',
    :allowtransparency => 'true', :frameborder => 0, :scrolling => 0, :width => 250, :height => 50}
    %iframe{:src => 'http://ghbtns.com/github-btn.html?user=projectdlp&repo=Scryer&type=fork&count=true&size=large',
    :allowtransparency => 'true', :frameborder => 0, :scrolling => 0, :width => 150, :height => 50}
