.page-header.borderless
  %h1 About
  %p.lead Scryer is an advanced fanfiction search engine supported by DLP and written by the DLP open-source community.
  Scryer strives to be more than a search engine. Scryer seeks to organize and make accessible fanfiction and your
  data around fanfiction. Scryer is a collaborative project to understand stories and the stories behind our own
  interest.
  %p
  %p.text-center
    <a class="github-button" href="https://github.com/projectdlp/Scryer" data-icon="octicon-star" data-style="mega" data-count-href="/projectdlp/Scryer/stargazers" data-count-api="/repos/projectdlp/Scryer#stargazers_count">Star</a>

    <a class="github-button" href="https://github.com/projectdlp" data-style="mega" data-count-href="/projectdlp/followers" data-count-api="/users/projectdlp#followers">Follow @projectdlp</a>

    <a class="github-button" href="" data-icon="octicon-git-branch" data-style="mega" data-count-href="/projectdlp/Scryer/network" data-count-api="/repos/projectdlp/Scryer#forks_count">Fork</a>

<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
