.page-header.borderless
  %h3 What is Scryer?
  %p.lead Scryer is an advanced fanfiction search engine supported by DLP and written by the DLP open-source community.
  We're striving to be more than just another search engine — we seek to use your data to make semantically relevant
  recommendations and enhance your own fiction reading experience. Scryer is a collaborative project to understand stories
  and the stories behind our own interests.
