.page-header.borderless
  %h1
    500 Internal Server Error
    .small Oops..

  %p.lead
    That's awkward. Something exploded. We've been notified of the issue.
    Try again, or email us (support@darklordpotter.net) if the error persists
  %p
    = "RequestId: #{request.uuid}"
