<p>Welcome to Scryer, <%= @user.username %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<p>You'll need to do this within 24 hours to keep your account active.</p>
