<footer class="footer">
  <div class="container">
    <% if user_signed_in? && current_user %>
        <p class="pull-right small">Logged in as <%= current_user.try(:username) %></p>
    <% end %>
    <div>
      © 2014 DLP Group
    </div>
    <div>
      <span class="small">
        <a href="https://github.com/projectdlp/Scryer">Scryer</a> 2.0-<%= link_to "#{GIT_COMMIT}@#{GIT_BRANCH}", 'https://github.com/projectdlp/Scryer/commit/'+GIT_COMMIT %>
        <%= Rails.env %>
      </span>
    </div>
  </div>
</footer>
